html body{
	position : absolute;
	right : 200px;
	left : 200px;
	background-color : #FFDAB9;
}

#header{
	display : inline-block;
	width : 100%;
}

#main_block{
	margin-top : 20px;
}

#nav-left{
	float : left;
	text-align : center;
	width: 150px;
	height : 100%;
}

#nav-left a{
	display : block;
	width : 150px;
	line-height : 50px;
	text-align : center;
	vertical-align : middle;
	background : url("Pictures/boutonnoir.png") no-repeat;
	color : white;
	text-decoration : none;
}

#nav-left a:hover{
	background : url("Pictures/boutonnoir2.png") no-repeat;
}

#nav-right {
	float : right;
	width: 220px;
	text-align : center;
}

#nav-mid{
	overflow: hidden;
	text-align : justify;
	font-size : 16px;
	font-family : Arial;
	padding-left : 10px;
	padding-right : 10px;
}

#salle{
	height : 350px;
	width : 550px;
	display : block;
	margin : auto;
}

#labo{
	height : 250px;
	width : 450px;
	float : left;
}

#image{
	float : right;
	height : 150px;
	width : 85%;
}

#logo{
	float : left;
	height : 150px;
	width : 15%;
}

#ferme{
	color : red;
}

#ouvert{
	color : green;
}

.jours{
	font-family : Impact;
	font-size : 16px;
}

#nav-mid-connexion{
	text-align : center;
}

#formulaire{
	display : block;
	margin : auto;
	border : solid;
	height : 300px;
	width : 400px;
	background-color : white;
}
