html body{
	position : absolute;
	right : 5%;
	left :  5%;
}

html{
	background-color : #1F94FA;
}

#header{
	display : inline-block;
	width : 100%;
}

#main_block{
	margin-top : 20px;
}

#nav-left{
	float : left;
	text-align : center;
	width: 150px;
	height : 100%;
}

#nav-left a{
	display : block;
	width : 150px;
	line-height : 50px;
	text-align : center;
	vertical-align : middle;
	background : url("Pictures/boutonnoir.png") no-repeat;
	color : white;
	text-decoration : none;
}

#nav-left a:hover{
	background : url("Pictures/boutonnoir2.png") no-repeat;
}

#nav-right {
	float : right;
	width: 220px;
	text-align : center;
}

#nav-mid{
	overflow: hidden;
	text-align : justify;
	font-size : 16px;
	font-family : Arial;
	padding-left : 10px;
	padding-right : 10px;
	border : solid;
	background-color : #68A8FB;
}

.salle{
	height : 350px;
	width : 550px;
	display : none;
	margin : auto;
}

.actu{
	overflow: hidden;
	text-align : justify;
	height : 225px;
	width : 450px;
	border : dotted;
	margin : auto;
	margin-top : 5px;
	margin-bottom : 5px;
}

.actu h2{
	text-align : center;
}

.actu mark{
	font-weight : bold;
	background-color : red;
}

.image_actu{
	width : 250px;
	float : right;
	margin-left : 5px;
}

#labo{
	height : 250px;
	width : 450px;
	float : left;
}

#image{
	float : right;
	height : 150px;
	width : 85%;
}

#logo{
	float : left;
	height : 150px;
	width : 15%;
}

.ferme{
	color : red;
}

.ouvert{
	color : green;
}

.jours{
	font-weight : bold;
}
