#header{
	background-color : blue;
}

#nav-left{
	float : left;
	background-color : green;
	text-align : center;
	width: 200px;
}
#nav-right {
	float : right;
	background-color : red;
	width: 200px;
}

#nav-mid{
	overflow: hidden;
	background-color : yellow;
}

