html body{
	position : absolute;
	right : 5%;
	left :  5%;
}

html{
	background-color : #1F94FA;
}

#header{
	display : inline-block;
	width : 100%;
}

#main_block{
	margin-top : 20px;
}

#nav-left{
	float : left;
	text-align : center;
	width: 150px;
	height : 100%;
	margin-right : 2%;
}

#nav-left a{
	display : block;
	width : 150px;
	line-height : 50px;
	text-align : center;
	vertical-align : middle;
	background : url("Pictures/boutonnoir.png") no-repeat;
	color : white;
	text-decoration : none;
}

#nav-left a:hover{
	background : url("Pictures/boutonnoir2.png") no-repeat;
}

#nav-right {
	float : right;
	width: 220px;
	text-align : center;
	margin-left : 2%;
}

#planning{
	list-style-type : none;
	text-align : left;
	font-size : 14px;
}

#nav-right span{
	font-weight : bold;
}

#nav-mid{
	overflow: hidden;
	text-align : justify;
	font-size : 16px;
	font-family : Arial;
	padding: 2px 10px 2px 10px;
	border : solid;
	background-color : #68A8FB;
}

#infos{
	display : block;
	margin-top: 70px;
	margin-left : 425px;
}

.salle{
	height : 350px;
	width : 550px;
	display : none;
	margin : auto;
}

.actu{
	overflow: hidden;
	text-align : justify;
	height : 225px;
	width : 450px;
	border : dotted;
	margin : auto;
	margin-top : 5px;
	margin-bottom : 5px;
}

.actu h2{
	text-align : center;
}

.actu mark{
	font-weight : bold;
	background-color : red;
}

.image_actu{
	width : 250px;
	float : right;
	margin-left : 5px;
}

#labo{
	height : 250px;
	width : 450px;
	float : left;
}

#image{
	float : right;
	height : 150px;
	width : 85%;
}

#logo{
	float : left;
	height : 150px;
	width : 15%;
}

.ferme{
	color : red;
	font-size : 20px;
}

.ouvert{
	color : #66FF33;
	font-size : 20px;
}

#table-jeux table, td, th{
	border-collapse: collapse;
    	border: 2px solid;
}

#table-jeux table{
	width: 80%;
	margin : auto;
	margin-bottom : 5px;
    	border-radius: 5px;
	margin-top : 50px;
}

#table-jeux th, td{
	padding: 15px;
	text-align: left;
	text-align: center;
}

#formulaire{
	float : left;
	margin-left : 10%;
}
